name: Tests

on:
  pull_request:

jobs:
  ubuntu-action-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: npm run cucumber || true
      - uses: ./
        name: "fail because of error"
        with:
          name: "failed cucumber report"
          access-token: ${{ secrets.GITHUB_TOKEN }}
          path: "**/cucumber-report.json"
      - uses: ./
        name: "neutral because of error"
        with:
          name: "ubuntu-action-tests"
          access-token: ${{ secrets.GITHUB_TOKEN }}
          path: "**/cucumber-report.json"
          check-status-on-error: 'neutral'
          annotation-status-on-error: 'warning'
